extends ../base-page.pug
block down
    .promo__down 
        +svgIcon('svg-down','arrow_down')

block main-content
    section.section.about
        .triangle.about__triangle
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 890 85" preserveaspectratio="none" class="traingle">
                <polygon class = "triangle__left" points="0,0   0,85   445.100,85   445.100,75.1"></polygon>
                <polygon class = "triangle__right" points="890,0   890,85   445,85   445,74.9999"></polygon>
            </svg>
        .about__left
            //.triangle.triangle--white.about__triangle
                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 450 85" preserveaspectratio="none" class="triangle-svg">
                   <polygon class = "triangle__left" points="0,0  0,85   450.8,85  450.8,76"></polygon>
                </svg>
            .about__left-title
                .about__left-svg: +svgIcon('about__bg-header','about_header')
                .main-title.about__title Обо мне
            .about__left-content
                .about__user-photo: img.about__my-img(src="img/about/my-foto.jpg", alt="Я")
                .about__user-title
                    .sub-title Кто я
                .about__user-desc
                    p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                    p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!
        .about__right
            //.triangle.triangle--beige.about__triangle
                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 450 85" preserveaspectratio="none" class="triangle-svg">
                    <polygon class = "triangle__right" points="450,0   450,85   0,85   0,76"></polygon>
                </svg>
            .about__right-title
                .sub-title Чем я могу быть вам полезен
            .about__skills
                .about__skills-desc Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
                .about__skills-block
                    ul.skills-list
                        each item in ['Frontend', 'Backend', 'Workflow']
                            li.skills-list__item
                                .skills-row
                                    .skills-row__title #{item}
                                    ul.skills-row__list
                                        if item =='Frontend'
                                            each skill in [['HTML5', 'circle-100'], ['CSS3', 'circle-90'], ['JavaScript & jQuey', 'circle-40']]
                                                li.skills-row__item
                                                    .skill
                                                        <svg class="skill__circle" viewBox="0 0 110 110">
                                                            <circle r="45" cx="50%" cy="50%" fill="none" class="skill__first" />
                                                            <circle r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)" class='skill__second #{skill[1]}'/>
                                                        </svg>    
                                                        span.skill__title #{skill[0]}       
                                        if item =='Backend'
                                            each skill in [['Python & Django', 'circle-80'], ['mySQL', 'circle-70'], ['Node.js', 'circle-30'],['Mongo.db', 'circle-30']]
                                                li.skills-row__item
                                                    .skill
                                                        <svg class="skill__circle" viewBox="0 0 110 110">
                                                            <circle r="45" cx="50%" cy="50%" fill="none" class="skill__first" />
                                                            <circle r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)" class='skill__second #{skill[1]}'/>
                                                        </svg>    
                                                        span.skill__title #{skill[0]}       
                                        if item =='Workflow'
                                            each skill in [['Git', 'circle-80'], ['Gulp', 'circle-80'], ['Webpack', 'circle-45']]
                                                li.skills-row__item
                                                    .skill
                                                        <svg class="skill__circle" viewBox="0 0 110 110">
                                                            <circle r="45" cx="50%" cy="50%" fill="none" class="skill__first" />
                                                            <circle r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)" class='skill__second #{skill[1]}'/>
                                                        </svg>    
                                                        span.skill__title #{skill[0]}                              
                                                        //<text  class="skill__title" width='100px' dominant-baseline= 'middle' text-anchor = 'middle'; x="50%" y="50%">#{skill}</text>  
block map 
    section.section.map
        div#map
        .contacts.map__contacts
            .sub-title.contacts__title Контакты
            .contacts__list
                each item in [['skype', 'skype_kdn'],['envelope2', 'astahov@gmail.com'],['phone','+7 931 200 93 24'],['map_marker','Новосибирск, ул. Инская, д.14']]
                    .contacts__block
                        +svgIcon(`contacts__${item[0]}`,item[0])
                        .contacts__info #{item[1]}
        footer.footer.map__footer
            .footer__one
                .footer__col 
                    .footer__desc   Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
                .footer__col
                    .footer__links 
                        .footer__menu
                            ul.footer__list-menu
                                -var footer_menu = [['Мои работы', '/work.html'],['Обо мне', '/about.html'],['Блог', '/blog.html'],['Авторизация', '/auth.html']]
                                each item in footer_menu
                                    li.footer__menu-elem 
                                        a.footer__menu-link(href=`${item[1]}`) #{item[0]} 
                        .footer__social
                            include ../includes/_social.pug            
                .footer__col  
                    .footer__quote Всегда пишите код так, будто 
                        |сопровождать его будет склонный к насилию психопат, который знает, где вы живете 
                        p.footer__auther — Martin Golding   
            .footer__two © Владимир Астахов | Создано с любовью в LoftSchool | 2016 

